
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #002339;
    color: #fff;
}
.container{
    margin: 10em;
    width: 90%;
    max-width: 700px;
}
.display{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-top: 3em;
    color: #333;
    background-color: #fff;
    padding: 2em 2em;
    border-radius: 5px;
}
.container h1{
    font-weight: 500;
    font-size: 45px;
}
.container h1 span{
    color: crimson;
    border-bottom: 4px solid #019f55;
    padding-bottom: 7px;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
.container button img{
    margin-right: 10px;
}
.container button{
    border: 0;
    outline: 0;
    background-color: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 26px;
    border-radius: 5px;
    cursor: pointer;
}