.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-top: 0;
}
.form{
  margin: 2vw;
}
.form h2{
  text-align: center;
  margin: 0;
}
.flex{
  display: flex;
  margin: 0;
  padding: 0;
}
.flex input{
  width: 30px;
  height: 25px;
  margin-top: 5px;
  margin-left: 2vw;
  color: blue;
}
.flex label{
  font-size: 17px;

}
.flex p{
  margin-top: 0;
  font-size: 13px;
}
legend{
  font-size: 20px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 2vw;
}
.radio p{
  margin-top: 0;
  margin-left: 2vw;
}
.radio input{
  margin-left: 3vw;
}
.form{
   background-color: aliceblue;
}
.input{
  width: 440px;
  height: 26px;
  margin-left: 3vw;
  border: 2px solid  gray;
  border-radius: 5px;
  color: blue;
}
.input:hover{
  background-color: lightseagreen;
  color: crimson;
}
.label{
  margin-left: 3vw;
  font-family: 'Times New Roman', Times, serif;
}
select{
  height: 28px;
  width:  445px;
  margin-left: 3vw;
  border: 2px solid  gray;
  border-radius: 4px;
}
fieldset{
  border: none;
  background-color: aliceblue;

}

.btn{
  width: 440px;
  height: 28px;
  background-color: purple;
  color: white;
  padding: 2px;
  margin: 3vw;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}




/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
